- content_for :page_header do
  h1 Журнал диспетчерских сообщений

._dialogue-container data-clear-noty-path= clear_notifications_messages_broadcast_path
  = render partial: "im/organizations/shared/dialogue_container", locals: {collection: @sorted_collection, form_file_path: "im/broadcasts/form"}
