.library-menu{
  position:fixed;
  top:30px;
  left:0px;
  width: 25%;
  height: 100%;
  overflow: scroll;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ecf0f1;
  border-radius: 12px;
  z-index: 1400;
}
