<%= library_section_caption 'Таблицы' %>
<p>
  Каждую таблицу нужно обернуть в класс <span class="lib-prop">.table</span>
</p>

<p>
  Промежуточный заголовок в таблице, применяемый для группировки рисуется с помощью отдельной строки
  <span class="lib-prop">tr</span> и
  ячейкой внутри, растянутой на всю ширину таблицы при помощи свойства <span class="lib-prop">colspan</span>. C
  Сам текст заголовка оборачивается в элемент с классом <span class="lib-prop">.row-header</span>.
</p>

<p>
  Текст внутри ячеек поддерживает несколько свойств: <span class="lib-prop">.extra</span>,
  <span class="lib-prop">.muted</span>, <span class="lib-prop">.important</span>
</p>






