i.checkbox, i.radiobutton {
  font-size: 20px;
  color: $color-cyan;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-right: .2em;
  vertical-align: middle;
  font-size: 1.6em;
}
i.checkbox.checked {margin-top: -0.2em; margin-right: 0.025em;}
i.checkbox.disabled, i.radiobutton.disabled {color: $color-silver-lighten}

i.checkbox {
  @include fa-icon('\f096', 1.6em);
}
i.checkbox.checked {
  @include fa-icon('\f14a', 1.4em);
}
i.radiobutton {
  @include fa-icon('\f10c', 1.6em);
}
i.radiobutton.checked {
  @include fa-icon('\f192', 1.6em);
}

