ul._left-menu {
  position: absolute;
  height: 100%;
  background: $color-asphalt-d; width: 150px;
  z-index: 1001;
  > li {
    border-bottom: 2px solid #51677b; background-color: transparent; padding: 10px 0;
    &:hover {
      background-color: $color-blue;
      ul {
        display: block;
      }
      > a {
        span.triangle {
          display: block;
        }
      }
    }
    &.selected {
      background-color: $color-blue;
      a {
        span.triangle {
          display: block;
        }
      }
    }
    a {
      color: $color-gray-lighter; padding: 12px 64px 13px 32px; position: relative;
      &:hover {
        text-decoration: none
      }
      span.fa {
        position: absolute;
        left: 10px;
        top: 11px;
        font-size: 18px;
      }
      span.triangle {
        width: 0;
        height: 0;
        border-top: 24px solid transparent;
        border-left: 4px solid $color-blue;
        border-bottom: 24px solid transparent;
        position: absolute;
        top: -2px;
        left: 150px;
        z-index: 10;
        display: none;
      }
    }
  }
  ul {
    position: absolute; top:7px; left: 150px; width: 130px; display: none;
    li {
      padding: 5px 0 5px 12px;
      a {
        padding: 3px 7px; font-size: 90%;
        &:hover {
          background-color: $color-blue; border-radius: 5px;
        }
        span {
          display: none;
        }
      }
    }
  }
}
._left-menu-width-padding-left {
  padding-left: 175px;
}
._left-menu-sublinks-bg {
  position: absolute;
  left: 150px;
  width: 140px;
  height: 100%;
  z-index: -1;
}
.m-left-menu-sublinks-bg-visible {
  z-index: 1000;
  background-color: $color-asphalt;
}

#units .fa {
  @include fa-icon('\f041', 1.4em);
}
#settings .fa {
  @include fa-icon('\f013', 1.4em);
}