@import "logo/*.png";

ul._left-menu {
  position: absolute;
  height: 100%;
  background: $color-asphalt-d;
  width: $left-menu-width;
  z-index: 1001;
  margin-top: -6px;
  > li {
    border-bottom: 1px solid #51677b;
    background-color: transparent;
    &.brand_logo {
      cursor: pointer;
      > span {
        padding: 10px 0 10px 32px;
        display: inline-block;
        width: 100%;

        @include logo-sprite(left-menu-logo);
        background-position: 50% 50%;
        .text {
          padding: 5px 7px;
          border-radius: 3px;
          font-weight: bold;
        }
      }
    }
    &:hover {

      ul {

      }
      > a {
        background-color: mix(#000, $color-blue, 40%);
        color: #ffffff;
        span.triangle {
          display: none;
        }
      }

    }
    &.selected {
      > a {
        background-color: $color-blue;
        color: #ffffff;

        span.triangle {
          display: block;
        }
        span.badge {
          background: #fff;
          color: $color-blue;
        }

      }
      ul {
        display: block;
        li {
          a {
            color: #ffffff;
            span.triangle {
              display: none;
            }
            span.text {
              font-size: 12px;
            }
            &.selected {
              background-color: #ffffff;
              border-radius: 5px;
              color: $color-asphalt;
              span.badge {
                color: $color-asphalt;
                display: block;
              }
            }
          }
          &.link-green > a {
            @extend .link-green !optional;
            span.text {
              border-bottom: 1px dashed $color-green;
            }
            span.badge {
              color: $color-green;
            }
          }
          &.m-active > a {
            background-color: $color-blue;
            span {
              color: #fff;
              &.text {
                border-bottom-color: #fff;
              }
              &.badge {
                color: #fff;
              }
            }
          }

        }
      }



    }
    a {
      color: $color-gray;
      padding: 10px 0 10px 32px;

      width: 100%;
      display: inline-block;

      &:hover {
        text-decoration: none
      }
      span.fa {
        position: absolute;
        left: 10px;
        top: 11px;
        font-size: 18px;
      }
      span.triangle {
        width: 0;
        height: 0;
        border-top: 24px solid transparent;
        border-left: 4px solid $color-blue;
        border-bottom: 24px solid transparent;
        position: absolute;
        top: -2px;
        left: $left-menu-width;
        z-index: 10;
        display: none;
      }
      span.text {
        font-size: 13px;
      }
    }
  }
  ul {
    display: none;
    background-color: $color-asphalt;
    li {
      padding: 5px 10px;
      position: relative;

      a {
        padding: 3px 7px; font-size: 90%;
        &:hover {
          background-color: mix(#000, $color-blue, 40%); border-radius: 5px;
        }
        .fa, .triangle, .badge {
          display: none;
        }
        .badge {
          background-color: transparent;
          top: 10px;
        }
      }
    }
  }
}
._left-menu-width-padding-left {
  padding-left: $left-menu-width + $grid-gutter-width + 10px;
}
._left-menu-sublinks-bg {
  position: absolute;
  left: 150px;
  width: 140px;
  height: 100%;
  z-index: -1;
}
.m-left-menu-sublinks-bg-visible {
  z-index: 1000;
  background-color: $color-asphalt;
}
