// Jstree styling for units tree
._units-page {
  .jstree-icon{
    margin-right: 5px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    background: none;
    font-size: 16px;
    color: $brand-primary;
  }

  .jstree-open{
    .jstree-icon{
      &:after{
        content: "\f056";
      }
    }
  }
  .jstree-closed{
    .jstree-icon{
      &:after{
        content: "\f055";
      }
    }
  }
  .jstree-leaf{
    .jstree-icon{
      &:after{
        color: $color-gray;
        content: "\f148";
      }
    }
  }

  &.user-access-page{
    position: relative;
    .js-units-tree-container{
    }
    .jstree-anchor {
      padding: 0 6px;
      border-radius: 5px;
      &.jstree-clicked {
        background: $brand-rich-info;
        color: #fff;
      }
    }
    ._units-tree-container {
      position: relative;
    }
    .bg-box.bg-box-white {
      position: absolute;
      width: 200px;
      height: 500px;
      top: 0;
      right: 0;
      left: auto;
      @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%));
    }
  }

  .tooltip-inner{
    background: white;
  }
}

// переопределяем чтобы не было ошибок с различным расположением картинок
.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl,
.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl,
.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl{
  background: image-url('plugins/jsTree/themes/default/throbber.gif') center center no-repeat
}

// Bubbles

.js-node-bubbles-container,{
  float: left;
}

.js-node-interactive-container{
  float: right;
  position: relative;
  top: 5px;
  .badge{
    position: relative;
    top: 0;
    right: auto;
    float: left;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
  }
}

.js-node-popover-container{
  .js-react-popover-component{
    background: #fff;
    border:1px solid #333;
  }
}

.js-bubble-info {
  border-bottom: 1px solid #bbb;
}

.unit-bubble-type-0{
  background-color: $color-magenta;
}

.unit-bubble-type-1{
  background-color: $color-blue;
}

.unit-bubble-type-2{
  background-color: $color-orange;
}

.unit-bubble-type-3{
  background-color: $color-cloud;
}