// виджет по отображению 2Д-изображения объекта на всю отведенную область
$el: '._units-content-img';


// обязательно растягиваем на всю область,где можно рисовать виджет
#{$el}, #{$el}.m-units-tree-page{ position: absolute; top: 0; bottom:0;  }

// закрашиваем белым контейнер внутри которого изображение
// чтобы перекрыть все,что лежит под виджетом
#{$el}__container{ width: 100%; height: 100%; background: white; img{ max-width: 100%; }}