<%= library_item_caption 'Меню' %>
<p>Для создания tab-меню используется конструкция <span class="lib-prop">&lt;ul class="nav nav-pills" id="myTab"&gt; Контент ссылок &lt;/ul&gt;&lt;div class="tab-content"&gt; Контент содержания &lt;/div&gt;</span><div></div></p>
<p>Для каждой ссылки прописывается атрибут <span class="lib-prop">data-toggle="tab"</span> и ссылка на контейнер, содержание которого соответствует ссылке ведущей на него, с именем его id. К примеру <span class="lib-prop">href="#documents"</span>
<p>Для каждого блока с содержанием прописывается класс <span class="lib-prop">.tab-pane</span> и уникальный id для привязки блока к ссылке, ведущей на него. К примеру <span class="lib-prop">id="#documents"</span>
<%= library_example do %>

    <ul class="nav nav-pills" id="myTab">
      <li class="active">
        <a href="#documents" data-toggle="tab">Документы (0)</a>
      </li>
      <li>
        <a href="#files" data-toggle="tab">Файлы (0)</a>
      </li>
      <li>
        <a href="#todo" data-toggle="tab">Дела (0)</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="documents">
        <p>Я первая секция.</p>
      </div>
      <div class="tab-pane" id="files">
        <p>В те поры война была.
          Царь Салтан, с женой простяся,
          На добра-коня садяся,
          Ей наказывал себя
          Поберечь, его любя.</p>
      </div>
      <div class="tab-pane" id="todo">
        <p>Царь Салтан гостей сажает
          За свой стол и вопрошает:
          «Ой вы, гости-господа,
          Долго ль ездили? куда?
          Ладно ль за морем, иль худо?
          И какое в свете чудо?»
          Корабельщики в ответ:
          «Мы объехали весь свет;
          За морем житье не худо,
          В свете ж вот какое чудо:
          В море остров был крутой,
          Не привальный, не жилой;
          Он лежал пустой равниной;
          Рос на нем дубок единый;
          А теперь стоит на нем
          Новый город со дворцом,
          С златоглавыми церквами,
          С теремами и садами,
          А сидит в нем князь Гвидон;
          Он прислал тебе поклон».</p>
      </div>
    </div>

<% end %>

<%= highlight_named_code slim: %Q{
ul#myTab.nav.nav-pills
  li.active
    a data-toggle="tab" href="#documents"  Документы (0)
  li
    a data-toggle="tab" href="#files"  Файлы (0)
  li
    a data-toggle="tab" href="#todo"  Дела (0)
.tab-content
  #documents.tab-pane.active
    p
      Я первая секция.
  #files.tab-pane
    p
      В те поры война была.
      Царь Салтан, с женой простяся,
      На добра-коня садяся,
      Ей наказывал себя
      Поберечь, его любя.
  #todo.tab-pane
    p
      Царь Салтан гостей сажает
      За свой стол и вопрошает:
      «Ой вы, гости-господа,
      Долго ль ездили? куда?
      Ладно ль за морем, иль худо?
      И какое в свете чудо?»
      Корабельщики в ответ:
      «Мы объехали весь свет;
      За морем житье не худо,
      В свете ж вот какое чудо:
      В море остров был крутой,
      Не привальный, не жилой;
      Он лежал пустой равниной;
      Рос на нем дубок единый;
      А теперь стоит на нем
      Новый город со дворцом,
      С златоглавыми церквами,
      С теремами и садами,
      А сидит в нем князь Гвидон;
      Он прислал тебе поклон».
}%>