$el: '._car-number';

#{$el}{
  width: 140px;
  height: 28px;
  @include sprites-sprite('rus-numbers');
  font-family: 'roadnumbers_normal';
  display: inline-block;
  vertical-align: middle;
}

  #{$el}__left {
    height: 28px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 2.2em;
    .text {
      font-size: 30px;
    }
  }

  #{$el}__right {
    height: 28px;
    width: 39px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 1.6em;
    .text {
      line-height: 1.1em;
      font-size: 20px;
    }
  }


  #{$el}--form {
    position: absolute;
    left: 430px;
    bottom: 3px;
  }


#{$el}-container{
  position: relative;
}