i.checkbox, i.radiobutton {
  font-size: 20px;
  color: $color-cyan;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-right: .2em;
  vertical-align: middle;
}
i.checkbox.checked {margin-right: 0.04em; margin-left: -0.04em;}
i.checkbox.disabled, i.radiobutton.disabled {color: $color-silver-lighten}

i.checkbox {
  width: 1.4em;
  @include fa-icon('\f096', 1.3em);
}
i.checkbox.checked {
  @include fa-icon('\f14a', 1.3em);
}
i.radiobutton {
  @include fa-icon('\f10c', 1.3em);
}
i.radiobutton.checked {
  @include fa-icon('\f192', 1.3em);
}


// Moved away from the screen to mimic tab index behaviour
.moved-away{
  position: absolute;
  z-index: -1;
}

.checkbox--focused{
  color: $color-cyan;
}