<%= library_section_caption 'Статусы' %>
<%
    all_states = %w(
                      cyan
                      cyan-d
                      sea-green
                      sea-green-d
                      green
                      green-d
                      blue
                      blue-d
                      magenta
                      magenta-d
                      asphalt
                      asphalt-d
                      yellow
                      yellow-d
                      orange
                      orange-d
                      red
                      red-d
                      cloud
                      cloud-d
                      gray
                      gray-d
                  )
%>
<table class="table">
  <% all_states.each do |state_name| %>
    <tr>
      <td>
        <span class="label label-<%= state_name %>"><%= state_name %></span>
      </td>
      <td>
        <%= highlight_code %Q{ content_tag :span, #{state_name}, class: "label label-#{state_name}"  }%>
      </td>
    </tr>
  <% end %>
</table>
