video autoplay="yes" loop="no" width="400" height="300"
  source src="http://192.168.2.20:8081" type="video/ogg"
br
= link_to 'Включить камеру', video_start_path
br
= link_to 'Выключить камеру', video_stop_path