<%= library_item_caption 'Выравнивание текста' %>
<p>Для создания текста выровненного по левому краю используется класс <span class="lib-prop">.text-left</span></p>
<p>Для создания текста выровненного по правому краю используется класс <span class="lib-prop">.text-right</span></p>
<p>Для создания текста выровненного по центру используется класс <span class="lib-prop">.text-center</span></p>

<%= library_example do %>
  <div class="text-left">Текст выровненный по левому краю</div>
  <div class="text-right">Текст выровненный по правому краю</div>
  <div class="text-center">Текст выровненный по центру</div>
<% end %>
<%= highlight_named_code slim: %Q{
  .text-left Текст выровнненый по левому краю
  .text-right Текст выровнненый по правому краю
  .text-center Текст выровнненый по центру
}%>

