// For complex tables which imitate table behaviour
// @note is used in dialogues page e.g.

.block-table{
  width: 100%;
  overflow: hidden;
  .organization-logo{
    border-radius: 2px;
  }
}

  .block-table__thead{
    @extend .block-table;
  }

  .block-table__tr{
    @extend .block-table;
    margin: 15px 0;
  }

  .block-table__th{
    @extend .block-table__td;
    @extend .text-help;
  }

  .block-table__td{
    display: inline-block;
    width: 16.5%;
    vertical-align: middle;
  }

    .block-table__td--image{

    }


.block-table--dialogues{
  .block-table__th:first-child,
  .block-table__td:first-child{
    width: 6%;
  }
}
