// For complex tables which imitate table behaviour
// @note is used in dialogues page e.g.

.block-table{
  ._organization-logo{
    border-radius: 2px;
  }
}

  .block-table__thead{

  }

  .block-table__tr{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .block-table__th{
    @extend .block-table__td;
    @extend .text-help;
  }

  .block-table__td{
    vertical-align: middle;
    float: none;
    display: inline-block;
  }

    .block-table__td--image{

    }
