// --------------------------------------------------
// TEXTS
// --------------------------------------------------

.text, .text-default{
  font-size: $font-size-base;
}

.text-link{
  font-size: $link-font-size;
}

.text-help{
  font-size: $font-size-small;
  color: $input-label-color;
  font-family: $font-family-sans-serif-semibold;
}

.text-title{
  font-size: $font-size-h2;
  font-family: $font-family-sans-serif-light;
}

.text-important{
  font-family: $font-family-sans-serif-bold;
  font-size: $font-size-base - 2px;
  color: $gray;
  text-transform: uppercase;
}

@each $val in $colors-map {
  $_name: nth($val, 1);
  $_color: nth($val, 2);

  .text-#{$_name} {
    color: $_color;
  }
}
// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }


// Font Sizes
.text-sm{ font-size: 9px; }
