= form_tag "/superuser/units/import" do
  /form method="post" action="/superuser/units/import" onchange="check_extension();"
  input#xsl-file size="30" type="file" accept="application/vnd.ms-excel" name="file"/
  input type="submit" /