// Jstree styling for units tree
._units-page {
  .jstree-icon{
    margin: 3px 5px 0 0;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    background: none;
    font-size: 18px;
    color: $color-cloud;
    position: relative;
    z-index: 5;
    left: 29px;
  }
  .jstree-hovered{
    background: $color-cloud;
  }
  .jstree-node {
    margin-left: 25px;

    // Node hover
    &[aria-selected='true']{
      .badge{
        opacity: 1;
      }
      >.jstree-icon{
        color: $color-cloud-d;
      }
      >.jstree-anchor{
        color: $gray-dark;
      }
    }
  }
  .jstree-open{
    .jstree-icon{
      &:after{
        content: "\f056";
      }
    }
  }
  .jstree-closed{
    .jstree-icon{
      &:after{
        content: "\f055";
      }
    }
  }
  .jstree-leaf{
    .jstree-icon{
      &:after{
        content: none;
      }
    }
    > .jstree-anchor {
      padding-left: 25px!important;
    }
  }

  &.user-access-page{
    position: relative;
    margin-left: -58px;
    .jstree-anchor {
      padding: 2px 10px 4px 25px;
      height: auto;
      border-radius: 30px;
      &.jstree-clicked {
        background: $brand-rich-info;
        color: #fff;
      }
    }
    ._units-tree-container {
      position: relative;
    }
    .bg-box.bg-box-white {
      position: absolute;
      width: 200px;
      height: 500px;
      top: 0;
      right: 0;
      left: auto;
      @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%));
    }
  }
  .tooltip-inner{
    background: white;
  }
}

// переопределяем чтобы не было ошибок с различным расположением картинок
.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl,
.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl,
.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl{
  background: image-url('plugins/jsTree/themes/default/throbber.gif') center center no-repeat
}

// Grandchild nodes
.jstree-container-ul > li > ul > li > ul li .jstree-anchor{
  color: $color-gray-d;
}

// Bubbles

.js-node-bubbles-container,{
  float: left;
}

.js-node-interactive-container{
  float: right;
  margin: 2px 0 0 15px;
  .badge{
    position: relative;
    top: 0;
    right: auto;
    float: left;
    min-width: 22px;
    height: 22px;
    line-height: 18px;
    margin-left: 6px;
    background: #fff;
    font-size: 11px;
    opacity: .5;
    transition: all .2s;
    &.js-bubble-add{
      float: right;
    }
    &:hover{
      color: #fff;
    }
  }
}

.js-bubble-add{
  color: $color-green;
  border: 2px solid $color-green;
  &:hover{
    background: $color-green;
  }
}

// Number of bubbles indicator

.js-bubbles-count{
  margin: 36px 0 0 10px;
  float: left;
}

.js-accidents-bubbles-count, .unit-bubble-type-0{
  color: $color-orange-d;
}
.unit-bubble-type-0{
  border: 2px solid $color-orange-d;
  &:hover{
    background: $color-orange-d;
  }
}

.js-work-bubbles-count, .unit-bubble-type-1{
  color: $color-blue-d;
}
.unit-bubble-type-1{
  border: 2px solid $color-blue-d;
  &:hover{
    background: $color-blue-d;
  }
}

.js-info-bubbles-count, .unit-bubble-type-2{
  color: $color-green-d;
}
.unit-bubble-type-2{
  border: 2px solid $color-green-d;
  &:hover{
    background: $color-green-d;
  }
}

.js-emergency-bubbles-count, .unit-bubble-type-3{
  color: $color-red-d;
}
.unit-bubble-type-3{
  border: 2px solid $color-red-d;
  &:hover{
    background: $color-red-d;
  }
}

.bubbles-popover{
  .popover-header{
    padding: 8px 0 5px!important;
    font-size: 18px!important;
  }
  .total-amount{
    margin: 5px 0 20px;
  }
  .popover-content{
    padding: 0 0 8px;
  }
  .js-delete-unit-bubble-btn {
    float: right;
  }
  .bubble-popover-block {
    border-top: 1px solid #666;
    border-bottom: none;
    padding: 10px 0;
    overflow: hidden;
    p{
      color: $color-gray;
      float: left;
      width: 65%;
      margin: 0;
    }
  }
  .object-name {
    color: #fff;
    margin: 5px 0;
  }
}