.object-status-block {
  position: relative;
  width: 300px;
  float: left;
  margin: 0 175px 50px 50px;
  h4, h2{
    position: absolute;
    z-index: 2;
    left: 15px;
  }
  h4.object-name {
    top: 15px;
    color: #fff;
  }
  h2.object-status {
    top: 200px;
  }
  .object-status-image {
    width: 100%;
  }
  .bg-box {
    height: 300px;
  }
}