// Jstree styling for units tree
._units-page {

  // Preloader
  .preloader {
    width: 100%;
    height: 100%;

    .prompt {
      text-align: center;
      color: $color-midnightblue-lighten;
      font-size: $font-size-h4;
      font-family: $font-family-sans-serif-light;
      padding-bottom: 50px; // There doesn't seem to be matching paddings of that size in variables
    }

    .percent {
      text-align: center;
      color: $color-sea-green-d;
      font-size: $font-size-h5;
      font-family: $font-family-sans-serif-light;
    }

    .bar {
      height: $badge-line-height;
      background-color: $color-silver-lighten;
      border-radius: $border-radius-base;

      .front {
        width: 0px;
        height: $badge-line-height;
        background-color: $color-sea-green-d;
        border-radius: $border-radius-base;
        // Uncomment out if it take too long to load
        // @include transition(width ease-in-out .5s);
      }
    }
  }

  // Load failed
  .load-failed {
    display: none; // Not using boilerplate's because JQuery's hide/show don't change 'visibility'
    background: image-url("errors/load-fail.png");
    width: 100%;
    height: 100%;
    min-height: 406px;

    .title {
      text-align: center;
      color: $color-silver-lighten;
      font-size: $font-size-h4;
      font-family: $font-family-sans-serif;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  // Canvas
  ._three-d canvas {
    display: none;
  }
}

// Jstree styling for units tree
._units-page {
  .jstree-icon {
    margin: 3px 5px 0 0;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    background: none;
    font-size: 18px;
    color: $color-cloud;
    position: relative;
    z-index: 5;
    left: 29px;
  }
  .jstree-hovered {
    background: $color-cloud;
  }
  .jstree-node {
    margin-left: 25px;

    // Node hover
    &[aria-selected='true'] {
      .badge {
        opacity: 1;
      }
      > .jstree-icon {
        color: $color-cloud-d;
      }
      > .jstree-anchor {
        color: $gray-dark;
      }
    }
  }
  .jstree-open {
    .jstree-icon {
      &:after {
        content: "\f056";
      }
    }
  }
  .jstree-closed {
    .jstree-icon {
      &:after {
        content: "\f055";
      }
    }
  }
  .jstree-leaf {
    .jstree-icon {
      &:after {
        content: none;
      }
    }
    > .jstree-anchor {
      padding-left: 12px!important;
    }
  }

  .jstree-open, .jstree-closed {
    margin-left: 11px!important;
  }

  &.user-access-page {
    position: relative;
    margin-left: -58px;
    .jstree-anchor {
      padding: 2px 10px 4px 25px;
      height: auto;
      border-radius: 30px;
      &.jstree-clicked {
        background: $color-cloud;
        color: $gray-dark;
        .badge {
          opacity: 1;
        }
        > .jstree-icon {
          color: $color-cloud-d;
        }
      }
    }
    ._units-tree-container {
      position: relative;
    }
    .bg-box.bg-box-white {
      position: absolute;
      width: 200px;
      height: 500px;
      top: 0;
      right: 0;
      left: auto;
      @include background-image(linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%));
    }
  }
  .tooltip-inner {
    background: white;
  }
}

// переопределяем чтобы не было ошибок с различным расположением картинок
.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl,
.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl,
.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: image-url('plugins/jsTree/themes/default/throbber.gif') center center no-repeat
}

// Grandchild nodes
.jstree-container-ul > li > ul > li > ul li .jstree-anchor {
  color: $color-gray-d;
}

// Bubbles

.js-node-bubbles-container, {
  float: left;
}

.js-node-interactive-container {
  margin: 0px 0 0 15px;
  display: inline-block;
  vertical-align: top;
  .badge {
    position: relative;
    top: 0;
    right: auto;
    float: left;
    width: 24px;
    height: 24px;
    line-height: 20px;
    margin-left: 6px;
    font-size: 11px;
    opacity: .5;
    transition: all .2s;
    &.m-tree-add {
      float: right;
    }
    &:hover {
      color: #fff;
    }
  }
}

.badge.m-tree-add {
  background: #fff;
  color: $color-gray-darker;
  border: 1px solid $color-cloud-d;
  height: 18px;
  border-radius: 5px;
  line-height: 16px;
  top: 2px;
  opacity: 1;
  &:hover, &.m-popover-shown {
    background: $color-blue;
    border: 1px solid $color-blue-d;
    color: #fff;
  }
}

// Number of bubbles indicator

.js-bubbles-count {
  margin: 36px 0 0 10px;
  float: left;
}

.js-accidents-bubbles-count, .unit-bubble-type-0 {
  color: $color-orange-d;
}

.unit-bubble-type-0 {
  @extend .badge.m-invert !optional;
  @extend .badge-orange-d.m-invert !optional;
  &:hover {
  }
}

.js-work-bubbles-count, .unit-bubble-type-1 {
  color: $color-blue-d;
}
.unit-bubble-type-1 {
  @extend .badge.m-invert !optional;
  @extend .badge-blue-d.m-invert !optional;
  &:hover {
  }
}

.js-info-bubbles-count, .unit-bubble-type-2 {
  color: $color-green-d;
}

.unit-bubble-type-2 {
  @extend .badge.m-invert !optional;
  @extend .badge-green-d.m-invert !optional;
}

.js-emergency-bubbles-count, .unit-bubble-type-3 {
  color: $color-red-d;
}

.unit-bubble-type-3 {
  @extend .badge.m-invert !optional;
  @extend .badge-red-d.m-invert !optional;
  //border: 2px solid $color-red-d;
}

.m-opened-bubble{
  background: $color-blue!important;
  color: #fff;
  border: 2px solid $color-blue;
}


.bubbles-popover{
  .popover-header{
    padding: 8px 0 5px!important;
    font-size: 18px!important;
  }
  .total-amount{
    margin: 5px 0 20px;
  }
  .popover-content{
    padding: 0 0 8px;
  }
  .js-delete-unit-bubble-btn {
    float: right;
    transition: all .3s;
    &:hover{
      background: #e74c3c;
      color: #fff;
    }
  }
  .bubble-popover-block {
    border-top: 1px solid #666;
    border-bottom: none;
    padding: 10px 0;
    overflow: hidden;
    p{
      color: $color-gray;
      float: left;
      width: 65%;
      margin: 0;
    }
  }
  .object-name {
    color: #fff;
    margin: 5px 0;
  }
}