<%= library_item_caption 'Header H1' %>
<p>Создается при помощи тега <span class="lib-prop">&#60;H1&#62;</span> или при помощи добавления класса <span class="lib-prop">.h1</span> элементу, содержащему текст заголовка.
</p>
<p>Свойства CSS: <span class="lib-prop">font-size: 36px light; color: Blue</span>
</p>
<%= library_example do %>
  <h1>H1 - Заголовок первого уровня</h1>
<% end %>
<%= highlight_named_code tags: %Q{
  h1 H1 - Заголовок первого уровня
}, classes: %Q{
  span.h1 H1 - Заголовок первого уровня
}
%>
