<%= library_item_caption 'Header H2' %>
<p>Header H2. Создается при помощи тега <span class="lib-prop">&#60;H2&#62;</span> или при помощи добавления класса <span class="lib-prop">.h2</span> элементу, содержащему текст заголовка.
</p>
<p>Свойства CSS: <span class="lib-prop">font-size: 32px light; color: Blue</span>
</p>
<%= library_example do %>
  <h2>H2 - Заголовок второго уровня</h2>
<% end %>
<%= highlight_named_code tags: %Q{
  h2 H2 - Заголовок второго уровня
}, classes: %Q{
  span.h2 H2 - Заголовок второго уровня
}
%>