<%= library_item_caption 'Header H4' %>
<p>Header H4. Создается при помощи тега <span class="lib-prop">&#60;H4&#62;</span> или при помощи добавления класса <span class="lib-prop">.h4</span> элементу, содержащему текст заголовка.
</p>
<p>Свойства CSS: <span class="lib-prop">font-size: 18px regular; color: Blue</span>
</p>
<%= library_example do %>
  <h4>H4 - Заголовок третьего уровня</h4>
<% end %>
<%= highlight_named_code tags: %Q{
  h4 H4 - Заголовок четвертого уровня
}, classes: %Q{
  span.h4 H4 - Заголовок четвертого уровня
}
%>

<p>Важно: классы <span class="lib-prop">.h1</span> , <span class="lib-prop">.h2</span> , <span class="lib-prop">.h3</span> , <span class="lib-prop">.h4</span> могут быть как у блочных, так и у строчных элементов.
</p>