<table class="colors-table">
  <tr>
    <td><div class="bg-color-cyan"><span>$color-cyan</span></div></td>
    <td><div class="bg-color-green-sea"><span>$color-sea-green</span></div></td>
    <td><div class="bg-color-green"><span>$color-green</span></div></td>
    <td><div class="bg-color-blue"><span>$color-blue</span></div></td>
    <td><div class="bg-color-magenta"><span>$color-magenta</span></div></td>
    <td><div class="bg-color-asphalt"><span>$color-asphalt</span></div></td>
  </tr>
  <tr>
    <td><div class="bg-color-cyan-d"><span>$color-cyan-d</span></div></td>
    <td><div class="bg-color-green-sea-d"><span>$color-sea-green-d</span></div></td>
    <td><div class="bg-color-green-d"><span>$color-green-d</span></div></td>
    <td><div class="bg-color-blue-d"><span>$color-blue-d</span></div></td>
    <td><div class="bg-color-magenta-d"><span>$color-magenta-d</span></div></td>
    <td><div class="bg-color-asphalt-d"><span>$color-asphalt-d</span></div></td>
  </tr>
  <tr>
    <td><div><span></span></div></td>
    <td><div class="bg-color-yellow"><span>$color-yellow</span></div></td>
    <td><div class="bg-color-orange"><span>$color-orange</span></div></td>
    <td><div class="bg-color-red"><span>$color-red</span></div></td>
    <td><div class="bg-color-clouds"><span>$color-cloud</span></div></td>
    <td><div class="bg-color-gray"><span>$color-gray</span></div></td>
  </tr>
  <tr>
    <td><div><span></span></div></td>
    <td><div class="bg-color-yellow-d"><span>$color-yellow-d</span></div></td>
    <td><div class="bg-color-orange-d"><span>$color-orange-d</span></div></td>
    <td><div class="bg-color-red-d"><span>$color-red-d</span></div></td>
    <td><div class="bg-color-clouds-d"><span>$color-cloud-d</span></div></td>
    <td><div class="bg-color-gray-d"><span>$color-gray-d</span></div></td>
  </tr>
</table>